.section1card1:hover .cardtext1{
    color:white;
}
.section1card2:hover .cardtext2{
    color:white;
}
.section1card3:hover .cardtext3{
    color:white;
}
.section1card4:hover .cardtext4{
    color:white;
}
